################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeatherForecast/obj
/WeatherForecast/bin/Debug/net6.0
/WeatherForecastTests/obj
/WeatherForecastTests/bin
